
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="/css/header.css">
    <style>
        .navbar-dark .navbar-nav .nav-link.active {
            color: rgb(255, 255, 255); /* Adjust color as needed */
        }			
	
    </style>
</head>
<body>
    <header>
       
		<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: rgb(255, 255, 255);">
				           <div class="container-fluid"> 
							<div class="col-md-2 text-start">
			                    <img src="navimg/bh.png" width="100px" height="100px">
						        </div>
							<div class="container-fluid p-3">
										            <div class="row ">
										                <div class="col-md-1 text-start">
										                </div>
										                <div class="col-md-8 text-center text-success">
					<h1 style="color: purple; text-shadow: 2px 2px 4px #303f9f; ">Bharat Commerce</h1>

										                </div>
										                 <div class="col-md-3 text-end icon">			<br>
										                    
										                    <a href="/register" class="btn btn-primary">SignUp</a> 
										                    <a href="/user_login" class="btn btn-primary">LogIn</a> 
										                </div>
										            </div>
										        </div>
							
				           </div>
				       </nav>

        <nav class="navbar navbar-expand-lg " style="background-image: url(https://media.istockphoto.com/id/1262816692/vector/grunge-vector-tricolour-background-with-an-off-white-centre-and-orange-or-saffron-and-green.jpg?s=612x612&w=0&k=20&c=9rIBeQje_2K6tqqP2pkBRsCxG4mC1mybrY64gJBEaYY=); background-repeat: no-repeat; background-size: cover;">
            <div class="container-fluid">
               
				<button type="button" class="navbar-toggler bg-primary text-white border-0" data-bs-toggle="collapse"
				        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				        aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon">≋≋</span> <!-- Optional: Add an icon or text here -->
				</button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
					
					<a class="navbar-brand" href="#"><i class="fa-solid fa-house"></i></a>
		
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active"
                                                aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link active"
                                                aria-current="page" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link active"
                                                aria-current="page" href="/contact">Contact</a></li>
                    </ul>
                    <form class="d-flex">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-cart-shopping"></i> Cart</a></li>
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/admin"><i class="fa-solid fa-user-tie"></i> Admin</a></li>
                        </ul>
                    </form>
                </div>
				
            </div>
        </nav>		
			
    </header>
</body>
</html>